@property --view-center-x { syntax: "<number>"; inherits: true; initial-value: 0 }
@property --view-center-y { syntax: "<number>"; inherits: true; initial-value: 0 }
@property --view-zoom { syntax: "<number>"; inherits: true; initial-value: 1 }
@property --view-scale { syntax: "<length>"; inherits: true }

@property --pos-x { syntax: "<number>"; inherits: false; initial-value: 0 }
@property --pos-y { syntax: "<number>"; inherits: false; initial-value: 0 }

dragging-area
{
    display: block;
    position: relative;
    background-size: calc(var(--view-scale)) calc(var(--view-scale));
    background-position: calc(50% - (var(--view-scale) * var(--view-center-x))) calc(50% - (var(--view-scale) * var(--view-center-y)));
    overflow: hidden;

    &[dragging]
    {
        cursor: move;
    }

    & > *, & > svg > *
    {
        left: calc(50% + (var(--view-scale) * (var(--pos-x) - var(--view-center-x))));
        top: calc(50% + (var(--view-scale) * (var(--pos-y) - var(--view-center-y))));
        position: absolute;
    }
    & > svg
    {
        position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    }
    & > aside
    {
        position: absolute; top: 0; bottom: 0; left: 0; right: 0;
        display: flex; flex-flow: column wrap; align-items: end; justify-content: start; align-content: end;
    }
}